:root{
    --verde-botones: #157A8A;
    --negro: #333333;
}

/* :::::::::::::::::::::::::::::::::::::: MODAL :::::::::::::::::::::::::::::::::::::: */
.modalEdit{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000013;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editar-modal{
    box-shadow: 1px 3px 28px 4px rgba(66, 62, 62, 0.71);
        -webkit-box-shadow: 1px 3px 28px 4px rgba(66, 62, 62, 0.71);
        -moz-box-shadow: 1px 3px 28px 4px rgba(66, 62, 62, 0.71);
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    padding: 1rem 1rem;
}

@keyframes slide-in-fwd-center {
    0% {
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
}

/* :::::::::::::::::::::::::::::::::::::: CLOSE MODAL :::::::::::::::::::::::::::::::::::::: */
.closeModal{
    /* background-color: blue; */
    padding: 10px 1rem;
    display: flex;
    justify-content: flex-end;
}

.closeModal button{
    background-image: url(../assets/img/iconos/CERRAR.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    width: 4vw;
    height: 8vh;
    
}

/* :::::::::::::::::::::::::::::::::::::: TITULO MODAL :::::::::::::::::::::::::::::::::::::: */
.title-modal{
    margin-top: -4rem;
}

/* :::::::::::::::::::::::::::::::::::::: DESCRIPCION MODAL :::::::::::::::::::::::::::::::::::::: */
.form-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* :::::::::::::::::::::::: COLUMNA 1 :::::::::::::::::::::::: */
.info-modal{
    margin: 1rem 1rem;
    font-family: 'Biko';
    display: flex;
    justify-content: center;
    align-items: center;
}

.info1{
    width: 40vw;
    margin: 0 1rem;
    /* background-color: red; */
}

.lines-hz-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.each-option-vertical{
    margin: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.info1 .each-option-vertical input{
    font-family: 'Biko';
    margin: 10px 0;
    border: 3px solid rgb(171, 170, 170);
    border-radius: 10px;
    background-color: white;
    padding: 10px 1rem;
    width: 9.5vw;
}

.info1 .each-option-vertical .price-edit{
    width: 8vw;
    padding-left: 2.5rem;
    background-image: url(../assets/img/iconos/price.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5% center;
}

.info1 .each-option-vertical .habitacion-edit{
    width: 23vw;

}

.info1 .each-option-vertical textarea{
    border: 3px solid rgb(171, 170, 170);
    border-radius: 10px;
    line-height: 20px;
    margin: 5px 0;
    width: 37vw;
    font-family: 'Biko';
    padding: 10px 10px;
}

.hab-general{
    display: flex;
    justify-content: space-around;
}

.each-observation-hz{
    font-family: 'Biko';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* :::::::::::::::::::::::: COLUMNA 2 :::::::::::::::::::::::: */
.observ-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.line-hz-note{
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.item-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.name-items{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-items p{
    text-align: center;
    width: 5vw;
    margin-right: -8px;
}

.name-items i{
    margin-right: 0px;
}

.name-items img{
    margin-right: 0px;
    width: 35%;
}

.info2 .fotos-edit{
    width: 32vw;
}


.info2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    width: 35vw;
}

.info2 .each-option-vertical{
    margin: 0.3rem 0;
}

.info2 .each-option-vertical h3{
    font-family: 'Akrobat';
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.info2 .each-option-vertical input{
    margin: 10px 0;
    border: 3px solid rgb(171, 170, 170);
    border-radius: 10px;
    background-color: white;
    padding: 10px 1rem;
}

.info2 .each-option-vertical select{
    font-family: 'Akrobat';
    font-size: 22px;
    margin-top: 10px;
    padding: 5px 1rem;
    border: 3px solid rgb(171, 170, 170);
    border-radius: 10px;
    background-color: white;
}

.info2 .selectors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
}

.info2 .selectors input{
    margin-right: 0.5rem;
}

.info2{
    color: var(--negro);
}



/* :::::::::::::::::::::::::::::::::::::::: EDITAR :::::::::::::::::::::::::::::::::::::::: */

.button-save-edit button{
    margin: -1rem;
    padding: 10px 2rem;
    font-family: 'Akrobat';
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--negro);
    color: white;
}

.info1 .each-option-vertical .nohab{
    background-color: rgb(196, 195, 195);
}

/* :::::::::::::::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::::::::::: */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .title-modal{
        margin-top: -2rem;
    }

    .closeModal button{
        
        width: 15vw;
        height: 8vh;
    }
    
    .info-modal{
        flex-direction: column;
    }

    .lines-hz-edit{
        flex-direction: column;
    }

    .editar-modal{
        overflow-y: scroll;
    }

    .info1{
        /* background-color: blue; */
        width: 70vw;
    }

    .info1 .each-option-vertical .habitacion-edit{
        width: auto;
    }

    .info1 .each-option-vertical .price-edit{
        width: 40vw;
    }

    .info1 .each-option-vertical textarea{
        width: auto;
        text-align: justify;
        height: 30vh;
    }

    .info2{
        width: 70vw;
        /* background-color: red; */
    }

    .info2 .fotos-edit{
        width: 60vw;
    }

    .vertical-rs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info1 .each-option-vertical input{
        width: auto;
    }

    .observ-vertical{
        flex-direction: column;
    }
    .name-items p{
        text-align: center;
        width: auto;
        margin-right: 0px;
    }

    .name-items i{
        margin-right: 5px;
    }

    .button-save-edit button{
        margin: 1rem 0;
        padding: 10px 2rem;
        font-family: 'Akrobat';
        font-size: 20px;
        border-radius: 5px;
        border: none;
        background-color: var(--negro);
        color: white;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .title-modal{
        margin-top: -2rem;
    }

    .closeModal button{
        width: 15vw;
        height: 10vh;
    }
    
    .info-modal{
        flex-direction: column;
    }

    .lines-hz-edit{
        flex-direction: column;
    }

    .editar-modal{
        overflow-y: scroll;
    }

    .info1{
        /* background-color: blue; */
        width: 70vw;
    }

    .info1 .each-option-vertical input{
        width: 45vw;
    }

    .info1 .each-option-vertical .habitacion-edit{
        width: 45vw;
    }

    .info1 .each-option-vertical .price-edit{
        padding-left: 3rem;
        width: 40vw;
    }

    .info1 .each-option-vertical textarea{
        width: 45vw;
        text-align: justify;
        height: 30vh;
    }

    .info2{
        width: 70vw;
        /* background-color: red; */
    }

    .info2 .fotos-edit{
        width: 60vw;
    }

    .vertical-rs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .observ-vertical{
        flex-direction: column;
    }
    .name-items p{
        text-align: center;
        width: auto;
        margin-right: 0px;
    }

    .name-items i{
        margin-right: 5px;
    }

    .button-save-edit button{
        margin: 1rem 0;
        padding: 10px 2rem;
        font-family: 'Akrobat';
        font-size: 20px;
        border-radius: 5px;
        border: none;
        background-color: var(--negro);
        color: white;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .editar-modal{
        width: 90vw;
        height: 80vh;
    }

    .closeModal button{
        width: 15vw;
        height: 10vh;
    }

    .title-modal{
        margin-top: -4.9rem;
    }

    .info1{
        /* background-color: blue; */
        width: 42vw;
    }
    .info2{
        margin-top: -0.3rem;
        width: 42vw;
        /* background-color: red; */
    }

    .info1 .each-option-vertical input{
        width: 7vw;
    }

    .each-option-vertical{
        margin: 0rem 0.5rem;
    }

    .info1 .each-option-vertical input {
        font-family: 'Biko';
        margin: 8px 0;
    }

    .info1 .each-option-vertical .price-edit{
        margin-top: 1.5rem;
    }

    .info2 .each-option-vertical h3{
        font-family: 'Akrobat';
        font-size: 20px;
        margin-top: 2px;
    }

    .line-hz-note{
        margin: 0.2rem 0;
    }

    .item-edit{
        margin: 0;
    }

    .name-items{
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .name-items p{
        text-align: center;
        width: auto;
        /* background-color: #157A8A; */
        margin-right: 5px;
    }
    
    .name-items i{
        margin-right: 8px;
    }
    
    .name-items img{
        margin-right: 0px;
        width: 50%;
    }

}